.header {
  padding: 40px 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;

    &-link {
      padding: 5px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 600;
      transition: 0.2s all;
      background-image: linear-gradient(var(--color-hover), var(--color-hover));
      background-repeat: no-repeat;
      background-size: 100% 1px;
      background-position: 0px 100%;

      &:hover {
        background-size: 100% 100%;
        color: var(--color-text-hover);
      }
    }
  }
}
