.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--color-border-input);
  border-radius: 20px;
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  transition: 0.2s all;

  &__icon {
    position: absolute;
    right: 20;
  }

  &:focus {
    border-color: var(--color-hover);
    outline: none;

    &::placeholder {
      transform: translateY(200%);
    }
  }

  &::placeholder {
    font-weight: 600;
    transition: 0.2s all;
  }
}
