.info-point {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;

  &__text {
    color: white;
    font-size: 14px;
    opacity: 0;
    animation: showText 0.3s 2s forwards ease-in-out;
  }

  &__line {
    width: 300px;
    height: auto;

    &-path {
      fill: none;
      stroke: white;
      stroke-width: 1;

      stroke-dasharray: 400;
      stroke-dashoffset: 400;

      animation: drawLine 2s 1s forwards ease-in-out;
    }

    &-dot {
      fill: white;
      opacity: 0;
      animation: showDot 1s forwards;
    }
  }
}

.line {
}

@keyframes showText {
  to {
    opacity: 1;
  }
}

@keyframes showDot {
  to {
    opacity: 1;
  }
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}
